<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing report listener">
	<listeners >
		<listener class-name="com.excel.utility.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">	  
	  <groups><run><include name="navigation"></include></run></groups>	  
    <classes>
      <class name="com.rb.qa.testcases.CustomBusTest">	 
		  </class>      
    </classes>    
  </test> <!-- Test -->
</suite> <!-- Suite -->
